doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/sass-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/additions.css')

    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript', src='/scripts/actions.js')
    script(type='text/javascript', src='/scripts/onready.js')
  body
    block content
