extends bootstrapped
 
block content
    .container
      .landing-presentation.text-center
          div.messaging
          h1= title 
          h3 Track every cent 
          p Daily Spend is a simple concept - use it to track spending, including cash. Not elaborate or full of bells and whistles, the trick to daily spend is giving your self a reliable system and using it.
          p Give yourself a daily allotment, and enter your purchases as they occur. For proposed features, see <a href="/roadmap">the roadmap</a>
          p <strong>Sign up below and be notified when Daily Spend is open to the public</strong>
          form.sign-up
            input(class='form-control' type='email' placeholder='Email' required) 
            button.btn.btn-lg.btn-primary.btn-block Sign Up
