doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/additions.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript', src='/scripts/actions.js')
    script(type='text/javascript', src='/scripts/onready.js')
    meta(name='viewport' content='width=device-width')

  body
    block content
