extends layout

block content
  h1= title
  p Here's what's coming up!
  ul
    li test user base
    li change default value in pop up
    li trigger number keyboard
    li create monitoring
    li investigate paypal integration
    li handle overages better (just negatives right now)
    li graphing! 
    li improved messaging and validation for user creation and login
    li reconcile mongoose vs. native
    li couple roadmap page with offline doc
