extends layout

block content
    div(class="block" style="height: inherit")
        div(class="centered")
            div(class="product_container")
                div(class="outer-center")
                    div(class="product inner-center")
                        h1
                            <span>$</span>30
                div(class="clear")
            div(class="button") Add one
