extends layout

block content
  .wrap-text 
      h1= title
      p I tried a couple different approaches to managing my money, and found that when I was responsible to myself on a daily basis, my savings increased significantly. Not only am I more mindful of my purchases in general, I tend to seek out better deals on stuff instead of just going with the flow and purchasing the easiest option.

      p One of the main things was that I had to track cash. So many other services out there offer spending tracking, however there’s no easy answer for cash. I use cash because it is psychologically harder to spend. I agree with Dave Ramsey’s assessment that spending money is EMOTIONAL, not logical. A lot of other services want to hook up with your bank and stuff - that’s great, they failed to serve my immediate need of tracking cash money. With this system there’s more manual labor involved, but THAT’S THE POINT. If it was just debit cards and seeing my over / under at the end of the day, there’d be a lot of shame. A manual entry - there’s no shame, I’m in control and I’m not giving myself a guilt trip at the end of the day. 
